
.navbar{
  padding-top: 0px;
  padding-bottom: 0px;
}

.mynav{
  background-color: #7752FE;
  padding: 10px;
}
.mynav span{
  color: white;
}
.mynav span:hover{
  color: #C2D9FF;
  cursor: pointer;
}
.textArea{
  display: flex;
  justify-content: center;
  top: 5rem;
}
textarea:focus{
  border: 5px solid #190482;
}