body{
  font-family: Agbalumo;
}
.navbar{
  padding-top: 0px;
  padding-bottom: 0px;
}

.mynav{
  background-color: #7752FE;
  padding: 10px;
}
.mynav span{
  color: white;
}
.mynav span:hover{
  color: #C2D9FF;
  cursor: pointer;
}
.textArea{
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}
textarea{
  border: 5px solid #190482;
  height: 12rem;
  width: 20rem
}
.heading{
  padding-top: 5rem;
  padding-right: 3rem;
  color: #190482;
  font-size: 48px;
}